_libgcc_mutex==0.1
asn1crypto==1.2.0
blas==1.0
certifi==2019.11.28
cffi==1.13.0
chardet==3.0.4
conda==4.8.2
conda-package-handling==1.6.0
cryptography==2.8
cython==0.29.15
dbus==1.13.12
expat==2.2.6
fontconfig==2.13.0
freetype==2.9.1
glib==2.63.1
gst-plugins-base==1.14.0
gstreamer==1.14.0
h5py==2.10.0
hdf5==1.10.4
icu==58.2
idna==2.8
intel-openmp==2020.0
jpeg==9b
libedit==3.1.20181209
libffi==3.2.1
libgcc-ng==9.1.0
libgfortran-ng==7.3.0
libpng==1.6.37
libstdcxx-ng==9.1.0
libtiff==4.1.0
libuuid==1.0.3
libxcb==1.13
libxml2==2.9.9
matplotlib-base==3.1.3
mkl==2020.0
mkl-service==2.3.0
mkl_fft==1.0.15
mkl_random==1.1.0
ncurses==6.1
ninja==1.9.0
numpy==1.18.1
numpy-base==1.18.1
olefile==0.46
openssl==1.1.1d
pandas==1.0.1
pcre==8.43
pip==19.3.1
pycosat==0.6.3
pycparser==2.19
pyopenssl==19.0.0
pyqt==5.9.2
pysocks==1.7.1
pytorch==1.1.0
pytz==2019.3
qt==5.9.7
readline==7.0
requests==2.22.0
ruamel_yaml==0.15.46
scipy==1.4.1
seaborn==0.10.0
setuptools==41.4.0
sip==4.19.8
six==1.12.0
sqlite==3.30.0
tk==8.6.8
torchvision==0.3.0
tornado==6.0.3
tqdm==4.36.1
urllib3==1.24.2
wheel==0.33.6
xz==5.2.4
yaml==0.1.7
zlib==1.2.11
zstd==1.3.7
addict==2.2.1
backcall==0.1.0
chumpy==0.69
cycler==0.10.0
decorator==4.4.2
freetype-py==2.1.0.post1
future==0.18.2
imageio==2.8.0
ipdb==0.13.2
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
kiwisolver==1.1.0
matplotlib==3.2.0rc3
mmcv==0.2.10
networkx==2.4
opencv-python==4.2.0.32
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==6.1.0
prompt-toolkit==3.0.4
protobuf==3.11.3
ptyprocess==0.6.0
pycocotools==2.0.0
pyglet==1.5.0
pygments==2.6.1
pyopengl==3.1.0
pyparsing==2.4.6
pypng==0.0.20
pyrender==0.1.36
python-dateutil==2.8.1
pywavelets==1.1.1
scikit-image==0.16.2
tensorboardx==2.0
traitlets==4.3.3
trimesh==3.5.25
wcwidth==0.1.9
smplx
configargparse
